@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hoşgeldiniz Uygulama Düzenlendi</p>
</div>

<form>
    <button>Kaydet</button>
</form>

<p>Nazlı</p>
<div class="p-3 mb-2 bg-success text-white">Neslihan</div>
