@{
    ViewData["Title"] = "Home Page";
}
<h1>Merhaba Neslihan</h1>
<h1>Merhaba Nazlıı</h1>

<hı>Merhaba Nazlı</hı>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hoşgeldiniz Uygulama Düzenlendi</p>
</div>

<p>Merhaba nazlı bunu yeni ekledim</p>

<form>
    <button>Kaydet</button>
</form>

<p>Nazlı</p>
<p>Nazlı</p><p>Nazlı</p>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

